/*----------------------------------------------
GÉNÉRIQUE
----------------------------------------------*/

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/*----------------------------------------------
ÉLÉMENTS
----------------------------------------------*/

body {
  padding: 0;
  margin: 0;

  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  font-size: 6rem;
  font-weight: 900;
  letter-spacing: 29px;
  color: white;
  margin: 0;
  text-align: center;
}

h2 {
  font-family: "Lato", sans-serif;
  font-size: 3rem;
  font-weight: 100;
  letter-spacing: 2.6px;
  line-height: 60px;
  text-align: right;
  margin-bottom: 105px;
}
/*----------------------------------------------
COMPONENTS
----------------------------------------------*/

/*--wrapper--*/

.wrapper {
  max-width: 1100px;
  margin: 0 auto;
}

/*--header--*/

.header {
  background-color: #34495e;
  padding-top: 43px;
  padding-bottom: 43px;
}

/*--hero--*/

/*--contenu 1--*/

.contenu {
  align-items: center;
}

.carte a {
  height: 230px;
  width: 1100px;
}

.carte {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 67px;
  margin-bottom: 20px;
}

a:hover article {
  background-color: #bdc3c7;
}

.description {
  font-family: "Quicksand", sans-serif;
  font-size: 2.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rond {
  border: 5px solid #d35400;

  border-radius: 100%;

  font-size: 1.9rem;
  font-weight: bold;

  letter-spacing: 1.5px;

  width: 210px;

  height: 210px;

  color: #d35400;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: white;
}

/*--contenu 2--*/

.information {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.information p {
  height: 345px;
  width: 471px;

  font-size: 1.25rem;
}

/*--footer--*/

.footer {
  background-color: #2980b9;
  
}

.gurt {
  font-weight: bold;
  font-size: 1.25rem;
}

.papa {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 865px;
  padding-top: 9px;
  padding-bottom: 9px;
}

.rond2 {
  background-color: white;

  border: 3px solid #bdc3c7;

  border-radius: 100%;

  width: 50px;

  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
}


