/*----------------------------------------------
GÉNÉRIQUE
----------------------------------------------*/

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/*----------------------------------------------
ÉLÉMENTS
----------------------------------------------*/






/*----------------------------------------------
COMPONENTS
----------------------------------------------*/

/*--wrapper--*/





/*--header--*/




/*--hero--*/



/*--footer--*/
