/*----------------------------------------------
GÉNÉRIQUE
----------------------------------------------*/

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/*----------------------------------------------
ÉLÉMENTS
----------------------------------------------*/

body {
  padding: 0;
  margin: 0;

  font-family: "Roboto", sans-serif;
  
}

a {
  text-decoration: none;
  color: black;
}

h1{
  font-size: 6rem;
  font-weight: 900;
  letter-spacing: 29px;
  color: white;
  margin: 0;
  text-align: center;
}

h2{
  font-family: "Lato", sans-serif;
  font-size: 3rem;
  font-weight: 100;
  letter-spacing: 2.6px;
  line-height: 60px;
  text-align: center;
}
/*----------------------------------------------
COMPONENTS
----------------------------------------------*/

/*--wrapper--*/

.wrapper {
  max-width: 1100px;
  margin: 0 auto;
}


/*--header--*/

.header{
  background-color: #34495E;
  padding-top: 43px;
  padding-bottom: 43px;
}


/*--hero--*/

/*--contenu--*/

.carte{
  display: flex;
}

.contenu p{
  font-family: "Quicksand", sans-serif;
  font-size: 2.25rem;
}

.rond{
  border: 5px solid #D35400
}



/*--footer--*/
